In [13]:
import pandas as pd

In [18]:
data = pd.read_csv(r'C:\Users\Ranee\Downloads\archive\student_lifestyle_100k.csv')

In [20]:
print("Shape of dataset:", data.shape)

Shape of dataset: (100000, 11)

In [21]:
print("\nFirst 5 rows:")
display(data.head())

First 5 rows:

,Student_ID,Age,Gender,Department,CGPA,Sleep_Duration,Study_Hours,Social_Media_Hours,Physical_Activity,Stress_Level,Depression
0,1001,22,Female,Science,3.50,7.3,3.3,3.4,114,5,False
1,1002,20,Male,Engineering,2.72,5.5,7.2,6.0,142,2,False
2,1003,20,Male,Medical,3.01,5.4,2.3,1.8,137,3,False
3,1004,21,Male,Engineering,3.63,8.1,2.0,4.6,130,3,False
4,1005,19,Male,Arts,3.14,6.8,2.6,4.3,4,6,False

In [22]:
print("\nColumn names:")
print(data.columns)

Column names:
Index(['Student_ID', 'Age', 'Gender', 'Department', 'CGPA', 'Sleep_Duration',
       'Study_Hours', 'Social_Media_Hours', 'Physical_Activity',
       'Stress_Level', 'Depression'],
      dtype='object')

In [23]:
print("\nData types of each column:")
print(data.dtypes)

Data types of each column:
Student_ID              int64
Age                     int64
Gender                 object
Department             object
CGPA                  float64
Sleep_Duration        float64
Study_Hours           float64
Social_Media_Hours    float64
Physical_Activity       int64
Stress_Level            int64
Depression               bool
dtype: object